# venv
.venv/
venv/

# python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# env files
.env
.env.*

# mac
.DS_Store

# logs
*.log

# pdfs
*.pdf

# ideas
.idea/

# test data
test_data/

# scripts
scripts/

# testing dev
testing_dev

# pid
*.pid
